###############################################
# root@drcrook sites-enabled # cat sinatra-up #
###############################################
# note: clients will use 192.168.1.11         #
###############################################

upstream uploader {
  server unix:/tmp/uploader.0.sock;
}
server {
#  listen 127.0.0.1:80;
#  server_name drcrook.uploader.boxiii.com;
  listen 192.168.1.11:80;
  client_max_body_size 12M;
  root /home/vagrant/src/elsie-sinatra-server;
  index index.html;
  location / {
   try_files $uri $uri/index.html $uri.html
      @uploader;
  }
  location @uploader {
    proxy_pass http://uploader;
  }
}
